<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>PostFactory</servlet-name>
        <servlet-class>NerdBook_package.PostFactory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>NerdBook.srv.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>bacheca</servlet-name>
        <servlet-class>NerdBook.srv.Bacheca</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Profilo</servlet-name>
        <servlet-class>NerdBook.srv.Profilo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>descrizione</servlet-name>
        <servlet-class>NerdBook.srv.Descrizione</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PostFactory</servlet-name>
        <url-pattern>/PostFactory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>bacheca</servlet-name>
        <url-pattern>/bacheca.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Profilo</servlet-name>
        <url-pattern>/Profilo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>descrizione</servlet-name>
        <url-pattern>/descrizione</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
